@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* .title{
    color: #041B2D;
} */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 45vh;
    border-radius: 20px;
    //box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.06);
    border: 1.5px solid #e0e0e0;
    background-color: rgba(194, 193, 193, 0.171);
    text-align: center;
    line-height: 1.0;
}
h2{
    font-size: 25px;
    font-family: 'Segoe UI';
}

p{
    font-size: 14px;
    color: #575757fd;
    opacity: 0.6;
    font-family: 'Segoe UI';
    letter-spacing: 0.2px;
    margin-top:-3px;
    margin-bottom: 23px;
}

a{
    margin-top: -10px;
    margin-bottom: 10px;
}
a:link{
    color: #081249;
    text-decoration: none;
    transition: font-weight 0.1s ease;
    font-size: 14px;
    font-family: 'Segoe UI';
    letter-spacing: 0.3px;
}
a:hover{
    font-weight: bold;
}
a:visited{
    color: #081249;
    //text-decoration: none;
    transition: font-weight 0.1s ease;

}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 17px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
    transition: background 0.8s;
    margin-bottom: 12px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.btn:hover{
    background: #888888ab
}