textarea {
  width: 35vw;
  padding-left: 20px;
  font-size: 20px;
  min-height: 300px;
  resize:none;
  border-left: 2px solid rgba(0, 0, 0, 0.281);
  border-top: none;
  border-right: none;
  border-bottom: none;
  outline: none;
}
.avatar_user{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.selectForm{
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}
.selectForm:hover{
  background-color: rgba(193, 192, 192, 0.295);
}
.header_post{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -25px;
  margin-bottom: 5px;
  gap: 10px;
}
/* Nút đăng bài */
.buttonPost-1 {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgba(193, 192, 192, 0);
  background-image: url("./3512833.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: 70%;
}

.buttonPost-1:hover {
  background-color: rgba(193, 192, 192, 0.295);
  opacity: 100%;
}

/* Nút chọn file bằng hình post.png */
.fileInput {
  display: none;
}

.buttonPost-2 {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgba(193, 192, 192, 0);
  background-image: url("./3554808.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: 70%;
}

.buttonPost-2:hover {
  background-color: rgba(193, 192, 192, 0.295);
  opacity: 100%;
}

.option {
  width: 400px;
  height: 33px;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 10px;
}


/* Hiển thị ảnh preview */
.previewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.previewWrapper {
  position: relative;
  display: inline-block;
}

.previewImage {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 3px;
}

/* Nút xóa ảnh */
.removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  transition: 0.2s;
}

.removeButton:hover {
  background-color: red;
}
.infor{
  width: auto;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toastSuccess {
  background-color: #d1fae5;
  /* Màu nền xanh lá nhạt */
  color: #065f46;
  /* Màu chữ xanh lá đậm */
  border: 1px solid #065f46;
  /* Viền */
}

.toastError {
  background-color: #fee2e2;
  /* Màu nền đỏ nhạt */
  color: #991b1b;
  /* Màu chữ đỏ đậm */
  border: 1px solid #991b1b;
}

.toastWarning {
  background-color: #fef3c7;
  /* Màu nền vàng nhạt */
  color: #92400e;
  /* Màu chữ vàng đậm */
  border: 1px solid #92400e;
}
